.card{
    width: 33.33%;
    height: 100%;
    display: grid;
    align-items: center;
    position: relative;
}
.img{
    width: 550px;
    position: absolute; 
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.heroContent{
    display: flex;
    height: 60vh;
}
@media screen and (max-width: 1024px) {
    .img{
        width: 450px;
    }
}
@media screen and (max-width: 769px) {
    #hideNa{
        display: none;
    }
    .card{
        width: 100%;
    }
}
@media screen and (max-width: 535px) {
    .img{
        width: 400px;
    }
}
@media screen and (max-width: 420px) {
    .img{
        width: 350px;
    }
}
@media screen and (max-width: 365px) {
    .img{
        width: 300px;
    }
}