.rulesbox{
    margin: 30px;
    margin-bottom: 50px;
}
.rulesbox h1{
    margin-bottom: 8px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.rulesContent{
    background-color: #272727;
    padding: 25px;
    border-radius: 18px;
    color: #a0a0a0;
    margin: 0 15%;
    font-size: 1.1rem;
    line-height: 1.4;
}
.rulesContent p{
    margin-bottom: 18px;
}
.rulesContent p a{
    text-decoration: none;
    color: #4949d3;
    font-weight: bold;
}
.rulesContent p a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 1025px) {
    .rulesContent{
        margin: 0 10%;
    }
}
@media screen and (max-width: 769px) {
    .rulesContent{
        margin: 0 5%;
    }
}
@media screen and (max-width: 426px) {
    .rulesContent{
        margin: 0 0;
    }
}