.heroText{
    text-align: center;
    display: grid;
    justify-content: center; 
    padding-top: 6vh;
}
.heroText h1{
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 5rem;
    color: #fff;
}